* {padding: 0;margin: 0;box-sizing: border-box;}
img
{
  width: 400px;
  height: auto;
  border-radius: 40px;
}
body
{
  background: #e546;
}
.container 
{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.box 
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2{
  margin-bottom: 5%;
  font-family: 'poppins',sans-serif;
  font-size: 30px;
  letter-spacing: 1.5px;
}
button 
{
  margin: 20px 0;
  padding: 20px 40px;
  width: 50%;
  border-radius: 10px;
  border: none;
  background: transparent rgba(0,0,0,0.7);
  border-bottom: 5px solid rgba(0,0,0,0.7) ;
  cursor: pointer;
}
